{% load static %} {% load humanize %}

<section class="gap no-top">
  <div class="container">
    <div class="heading two">
      <p>Client’s Review</p>
      <h2>What Our Client’s Say?</h2>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <div class="client-slider owl-carousel owl-theme">
          <div class="client-two item">
            <div>
              <i><img src="{% static 'assets/img/comme.png' %}" alt="comme" /></i>
            </div>
            <div>
              <h3>
                I placed an order and was really shocked to find out they don't
                charge for pick up and delivery which is always good!
              </h3>
              <div class="client-rating">
                <h4>Willimes Morke</h4>
                <div class="star-rating">
                  <ul>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="client-two item">
            <div>
              <i><img src="{% static 'assets/img/comme.png' %}" alt="comme" /></i>
            </div>
            <div>
              <h3>
                I placed an order and was really shocked to find out they don't
                charge for pick up and delivery which is always good!
              </h3>
              <div class="client-rating">
                <h4>Jakki Thomas</h4>
                <div class="star-rating">
                  <ul>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="client-two item">
            <div>
              <i><img src="{% static 'assets/img/comme.png' %}" alt="comme" /></i>
            </div>
            <div>
              <h3>
                I placed an order and was really shocked to find out they don't
                charge for pick up and delivery which is always good!
              </h3>
              <div class="client-rating">
                <h4>Willimes Morke</h4>
                <div class="star-rating">
                  <ul>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="client-two item">
            <div>
              <i><img src="{% static 'assets/img/comme.png' %}" alt="comme" /></i>
            </div>
            <div>
              <h3>
                I placed an order and was really shocked to find out they don't
                charge for pick up and delivery which is always good!
              </h3>
              <div class="client-rating">
                <h4>Alex Lominas</h4>
                <div class="star-rating">
                  <ul>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="img-salidr">
          <img src="{% static 'assets/img/tema.png' %}" alt="team" />
        </div>
      </div>
    </div>
  </div>
</section>
