{% load static %} {% load humanize %}

<section
  class="gap service-two position-relative"
  style="background-image: url({% static 'assets/img/service.png' %})"
>
  <div class="container">
    <div class="heading">
      <img src="{% static 'assets/img/heading-img.png' %}" alt="heading-img" />
      <p>We Clean Everything</p>
      <h2>Company Services</h2>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="service-two-text">
          <div>
            <a href=""
              ><h3>Wash & Fold Laundry Service</h3></a
            >
            <p>
              Lorem ipsum dolor sit amet cons ectetur adipisicing elit, sed do
              ei m dolousmod
            </p>
          </div>
          <div class="service-text-two">
            <i
              ><img src="{% static 'assets/img/service-icon-1.png' %}" alt="service-icon"
            /></i>
            <img src="{% static 'assets/img/service-two-1.jpg' %}" alt="service-two" />
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="service-two-text">
          <div>
            <a href=""
              ><h3>Alternations and Repairs</h3></a
            >
            <p>
              Lorem ipsum dolor sit amet cons ectetur adipisicing elit, sed do
              ei m dolousmod
            </p>
          </div>
          <div class="service-text-two">
            <i
              ><img src="{% static 'assets/img/service-icon-2.png' %}" alt="service-icon"
            /></i>
            <img src="{% static 'assets/img/service-two-2.jpg' %}" alt="service-two" />
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="service-two-text mb-xl-0">
          <div>
            <a href=""
              ><h3>Wedding Gowns Drycleaning</h3></a
            >
            <p>
              Lorem ipsum dolor sit amet cons ectetur adipisicing elit, sed do
              ei m dolousmod
            </p>
          </div>
          <div class="service-text-two">
            <i
              ><img src="{% static 'assets/img/service-icon-3.png' %}" alt="service-icon"
            /></i>
            <img src="{% static 'assets/img/service-two-3.jpg' %}" alt="service-two" />
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="service-two-text mb-0">
          <div>
            <a href=""
              ><h3>Carpet Cleaning Services</h3></a
            >
            <p>
              Lorem ipsum dolor sit amet cons ectetur adipisicing elit, sed do
              ei m dolousmod
            </p>
          </div>
          <div class="service-text-two">
            <i
              ><img src="{% static 'assets/img/service-icon-4.png' %}" alt="service-icon"
            /></i>
            <img src="{% static 'assets/img/service-two-4.jpg' %}" alt="service-two" />
          </div>
        </div>
      </div>
      <div class="btn-center">
        <a href="" class="sec-btn">View All Services</a>
      </div>
    </div>
  </div>
</section>
