{% load static %}
{% load humanize %}


<!-- footer -->
<footer class="two gap no-bottom" style="background-image:url(/static/assets/img/footer-1.jpg)">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 col-md-6">
          <div class="logo">
            <a href="{% url 'home' %}">
              <img alt="img" src="{% static 'assets/img/logo.png' %}">
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="time-table">
            <i class="fa-solid fa-clock"></i>
              <h6>6 days a week 8.00 AM - 05.00 PM</h6>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" >
          <div class="logo">
            <div class="star-rating">
              <img alt="img" src="{% static 'assets/img/years-2.png' %}">
              <h4>#1 Customer-Rated</h4>
              <ul>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
                  <li><i class="fa-solid fa-star"></i></li>
              </ul>
             </div>
          </div>
        </div>
      </div>
      <div class="footer-contact">
          <div class="get-in-touch">
              <i>
                <svg height="112" viewBox="0 0 24 24" width="112" xmlns="http://www.w3.org/2000/svg"><g clip-rule="evenodd" fill="rgb(255255,255)" fill-rule="evenodd"><path d="m7 2.75c-.41421 0-.75.33579-.75.75v17c0 .4142.33579.75.75.75h10c.4142 0 .75-.3358.75-.75v-17c0-.41421-.3358-.75-.75-.75zm-2.25.75c0-1.24264 1.00736-2.25 2.25-2.25h10c1.2426 0 2.25 1.00736 2.25 2.25v17c0 1.2426-1.0074 2.25-2.25 2.25h-10c-1.24264 0-2.25-1.0074-2.25-2.25z"></path><path d="m10.25 5c0-.41421.3358-.75.75-.75h2c.4142 0 .75.33579.75.75s-.3358.75-.75.75h-2c-.4142 0-.75-.33579-.75-.75z"></path><path d="m9.25 19c0-.4142.33579-.75.75-.75h4c.4142 0 .75.3358.75.75s-.3358.75-.75.75h-4c-.41421 0-.75-.3358-.75-.75z"></path></g></svg>
              </i>
              <div>
                <span>Phone No:</span> 
                <h6><a href="callto:{{telephone_contact}}">{{telephone_contact}}</a></h6>
              </div>
          </div>
          <div class="boder"></div>
            <div class="get-in-touch">
              <i>
                <svg width="60" height="40" viewBox="0 0 22 18" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.8649 18H6.13513C2.58377 18 0.540527 15.9568 0.540527 12.4054V5.5946C0.540527 2.04324 2.58377 0 6.13513 0H15.8649C19.4162 0 21.4595 2.04324 21.4595 5.5946V12.4054C21.4595 15.9568 19.4162 18 15.8649 18ZM6.13513 1.45946C3.35242 1.45946 1.99999 2.81189 1.99999 5.5946V12.4054C1.99999 15.1881 3.35242 16.5406 6.13513 16.5406H15.8649C18.6476 16.5406 20 15.1881 20 12.4054V5.5946C20 2.81189 18.6476 1.45946 15.8649 1.45946H6.13513Z"></path>
                    <path d="M10.9988 9.8465C10.1815 9.8465 9.35452 9.59352 8.72208 9.07785L5.67668 6.64539C5.36532 6.39241 5.30696 5.93511 5.55992 5.62376C5.8129 5.31241 6.2702 5.25403 6.58155 5.50701L9.62695 7.93947C10.3664 8.53298 11.6215 8.53298 12.361 7.93947L15.4064 5.50701C15.7178 5.25403 16.1848 5.30268 16.428 5.62376C16.681 5.93511 16.6324 6.40214 16.3113 6.64539L13.2659 9.07785C12.6432 9.59352 11.8161 9.8465 10.9988 9.8465Z" ></path>
                </svg>
              </i>
              <div>
                <span>Email Address:</span> 
                <h6><a href="mailto:{{email_contact}}">{{email_contact}}</a></h6>
              </div>
            </div>
            <div class="boder"></div>
            <div class="get-in-touch two">
              <i>
                <svg version="1.1" xml:space="preserve" width="682.66669" height="682.66669" viewBox="0 0 682.66669 682.66669" xmlns="http://www.w3.org/2000/svg"><clipPath clipPathUnits="userSpaceOnUse"><path d="M 0,512 H 512 V 0 H 0 Z"></path></clipPath><g transform="matrix(1.3333333,0,0,-1.3333333,0,682.66667)"><g><g clip-path="url(#clipPath2333)"><g transform="translate(256,92)"><path d="m 0,0 c -126.964,143.662 -160,165.23 -160,240 0,88.366 71.634,160 160,160 88.365,0 160,-71.634 160,-160 C 160,165.854 130.212,147.337 0,0 Z" style="fill:none;stroke:#8cc63f;stroke-width:40;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"></path></g><g transform="translate(316,372)"><path d="m 0,0 -80,-80 -40,40" style="fill:none;stroke:#8cc63f;stroke-width:40;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1"></path></g></g></g></g>
                </svg>
              </i>
              <div>
                <span>Location</span>
                <h6><a></a>Jkuat Gate A, Juja Kiambu</h6>
              </div>
            </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="widget-title">
            <h3>Information</h3>
            <div class="boder"></div>
            <p>Stanard dummy text ever snce the a Ipsumf. the printingand ypese inghas  mmyen the supi Stanard dummy text ever snce the a Ipsumf.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="widget-title">
            <h3>Our Services</h3>
            <div class="boder"></div>
              <ul >
                <li><i class="fa-solid fa-angle-right"></i><a href="javascript:void(0)">Maid Services</a></li>
                <li><i class="fa-solid fa-angle-right"></i><a href="javascript:void(0)">About Company</a></li>
                <li><i class="fa-solid fa-angle-right"></i><a href="javascript:void(0)">Window Cleaning</a></li>
                <li><i class="fa-solid fa-angle-right"></i><a href="javascript:void(0)">Advice & Tips</a></li>
                <li><i class="fa-solid fa-angle-right"></i><a href="javascript:void(0)">Office Cleaning</a></li>
                <li><i class="fa-solid fa-angle-right"></i><a href="javascript:void(0)">Our Team</a></li>
                <li><i class="fa-solid fa-angle-right"></i><a href="javascript:void(0)">Domestic Cleaning</a></li>
                <li><i class="fa-solid fa-angle-right"></i><a href="javascript:void(0)">Our Partners</a></li>
                <li><i class="fa-solid fa-angle-right"></i><a href="javascript:void(0)">Drycleaning services</a></li>
              </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="widget-title">
            <h3>Newsletter Subscribe</h3>
            <div class="boder"></div>
            <p>Sign up to receive our latest news and special offers from our Laundry</p>
            <form method="post" action="{% url 'subscribe' %}">
              {% csrf_token %}
              {{subscription_form.email}}
              <button type="submit" class="sec-btn"><i class="fa-solid fa-paper-plane"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-bootom-bar position-relative">
      <div class="container">
          <div class="copyright">
              <p><b>Cleanio</b> - Copyright 2023. Design by <b>Jeckonia.</b></p>
              <ul class="social-media">
                  <li>
                    <a href="javascript:void(0)">
                      <i class="fab fa-facebook-f icon"></i>facebook</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"><i class="fab fa-twitter icon"></i>twitter</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"><i class="fa-brands fa-linkedin-in"></i>linkedin</a></li>
              </ul>
          </div>
      </div>
    </div>
  </footer>
  <!-- footer -->
